		<!--[if lte IE 7]><div id="disclaimer">This site is not yet compatible with older browsers.</div><![endif]-->
		<!--<script type="text/javascript">$('body').hide();</script>-->
	<!--상단에 고정되는 Header입니다  -->
	<%= render :partial => "layouts/header_worklist" %>	
	<a class="back-to-top">^</a>
	<div id="content" class="clearfix">

		<div id="" class="page clearfix previous" >
			
				<div class="work" >
					<a class="ajax thumbnail"href="/work/UxandUI_codelion">
						<%=image_tag "/assets/uxandui/work/codelion.png", class: "attachment-medium wp-post-image"%></a>
					<h4 class="work-title"><a class="ajax" href="">코드라이언( Codelion )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail"href="/work/UxandUI_snucheck">
						<%=image_tag "/assets/uxandui/work/snucheck.png", class: "attachment-medium wp-post-image" %>
						<%=image_tag "/assets/uxandui/work/snucheck3.png", class: "attachment-medium wp-post-image" %>
						<%=image_tag "/assets/uxandui/work/snucheck4.png", class: "attachment-medium wp-post-image" %>
						<%=image_tag "/assets/uxandui/work/snucheck6.png", class: "attachment-medium wp-post-image" %>
					</a>
					<h4 class="work-title"><a class="ajax" href="">스누체크( Snucheck )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>				
				</div>

				<div class="work" >    
					<a class="ajax thumbnail"href="/work/UxandUI_anywant"><%=image_tag "http://placehold.it/900x1200/FBEBEC/ffffff", class: "attachment-medium wp-post-image" %></a>
					<h4 class="work-title"><a class="ajax" href="">애니원트( Anywant )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/UxandUI_tntcrowd"><%=image_tag "/assets/uxandui/work/tntcrowd.png", class: "attachment-medium wp-post-image" %></a>
					<h4 class="work-title"><a class="ajax" href="">티엔티크라우( TNT Crowd )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/UxandUI_snuwomanski"><%=image_tag "/assets/uxandui/work/snuwomanski.png", class: "attachment-medium wp-post-image", class: "attachment-medium wp-post-image" %></a>
					<h4 class="work-title"><a class="ajax" href="">서울대여자스키부( SNUWOMANSKI )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>

				<div class="work">    
					<a class="ajax thumbnail" href="/work/UxandUI_bgportfolio"><%=image_tag "http://placehold.it/900x900/FCECD4/ffffff", class: "attachment-medium wp-post-image" %></a>
					<h4 class="work-title"><a class="ajax" href="">보금( BG )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/UxandUI_calendar"><%=image_tag "/assets/uxandui/work/calendar.png", class: "attachment-medium wp-post-image" %><%=image_tag "/assets/uxandui/work/calendar2.png", class: "attachment-medium wp-post-image" %><%=image_tag "/assets/uxandui/work/calendar3.png", class: "attachment-medium wp-post-image" %></a>
					<h4 class="work-title"><a class="ajax" href="">캘린더( Calendar )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
<!--		<div id="nro2" class="page-number" style="display: none;">2</div>-->
		</div>

		<div id="" class="page clearfix active" >
			
		
			
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_officestore"><img width="350" height="250" src="http://placehold.it/900x700/ECF5EB/ffffff" class="attachment-medium wp-post-image" alt=""></a>
					<h4 class="work-title"><a class="ajax" href="">오피스스토어( Office store )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>

				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_comunication"><img width="350" height="250" src="http://placehold.it/900x598/D4ECE9/ffffff" class="attachment-medium wp-post-image" alt="Selamta | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">커뮤니케이션센( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>

				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_itawon"><img width="350" height="1200" src="http://placehold.it/900x800/BFDAD1/ffffff" class="attachment-medium wp-post-image" alt="Central Park | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">이태원( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>

				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_twoartists"><img width="350" height="500" src="http://placehold.it/900x700/B1D1D4/ffffff" class="attachment-medium wp-post-image" alt="lottanieminen_casamica-TH"></a>
					<h4 class="work-title"><a class="ajax" href="">투아티스( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_bridge"><img width="350" height="800" src="http://placehold.it/900x1500/B0DFE4/ffffff" class="attachment-medium wp-post-image" alt="Spring Fever / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">청계천( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
			
			<div class="column2">			
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_tissue"><img width="350" height="561" src="http://placehold.it/900x1000/B2E1F3/ffffff" class="attachment-medium wp-post-image" alt="Volkswagen | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">공허부( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_box"><img width="350" height="250" src="http://placehold.it/900x800/8CD6ED/ffffff" class="attachment-medium wp-post-image" alt="Wrap Magazine | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">정육각형( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_bucket"><img width="350" height="250" src="http://placehold.it/900x2000/BEC4DD/ffffff" class="attachment-medium wp-post-image" alt="Nobrow 7 / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">휴지통( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_star"><img width="350" height="561" src="http://placehold.it/900x1300/E5D9E6/ffffff" class="attachment-medium wp-post-image" alt="Hermès / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">별자리( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Industrial_lightbox"><img width="350" height="250" src="http://placehold.it/900x1200/F3EFEF/ffffff" class="attachment-medium wp-post-image" alt="Suez Environnement / Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">탁( English Subject )</a></h4><br>
					<div class="excerpt"><p>제목에 대한 간단한 설명이 나옵니다.제목에 대한 간단한 설명<br>hello, world!hello, world!hello, world!hello, world!hello, world!hello, world!</p></div>
				</div>
			</div>	
		</div>
		<div id="" class="page clearfix next" >
			
			

			<div class="first column2 clearfix">
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Graphic_anywant"><img width="350" height="250" src="/assets/graphic/work/connecting.jpg" class="attachment-medium wp-post-image" alt=""></a>
					<h4 class="work-title"><a class="ajax" href="">애니원트</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>

				<div class="work">    
					<a class="ajax thumbnail" href="/work/Graphic_likelion"><img width="350" height="250" src="/assets/graphic/work/likelion.png" class="attachment-medium wp-post-image" alt="Selamta | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="">2멋쟁이사자처럼</a></h4>
					<div class="excerpt"><p>hello!have a nice day!<br>hello!have a nice day!</p></div>
				</div>
			</div>

			<div class="second column2 clearfix">
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Graphic_snucheck"><img src="/assets/graphic/work/camera.png" class="attachment-medium wp-post-image" alt="Volkswagen | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="/volkswagen-2012/">2-1스누체크</a></h4>
					<div class="excerpt"><p>Poster illustration for<br>Volkswagen’s UK showrooms.</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Graphic_snucheck"><img src="/assets/graphic/work/snucheck.png" class="attachment-medium wp-post-image" alt="Volkswagen | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="/volkswagen-2012/">2-1스누체크</a></h4>
					<div class="excerpt"><p>Poster illustration for<br>Volkswagen’s UK showrooms.</p></div>
				</div>

			</div>

				
			<div class="third column2 clearfix">
				<div class="work">    
					<a class="ajax thumbnail" href="a/work/Graphic_dot"><img width="350" height="250" src="/assets/graphic/work/dot.png" class="attachment-medium wp-post-image" alt="Le Monde | Lotta Nieminen"></a>
					<h4 class="work-title"><a class="ajax" href="/le-monde/">3-1점</a></h4>
					<div class="excerpt"><p>Illustrated map of Paris for<br>French newspaper <i>Le Monde</i>﻿.</p></div>
				</div>

				<div class="work">    
					<a class="ajax thumbnail" href="/work/Graphic_gwanak"><img width="350" height="250" src="/assets/graphic/work/mountain.png" class="attachment-medium wp-post-image" alt="Lotta Nieminen | Shop Magazine"></a>
					<h4 class="work-title"><a class="ajax" href="/shop-magazine/">3-2관악</a></h4>
					<div class="excerpt"><p>Cover illustration for a<br>Paris shopping guide.</p></div>
				</div>
				<div class="work">    
					<a class="ajax thumbnail" href="/work/Graphic_gwanak"><img width="350" height="250" src="/assets/graphic/work/anywant.png" class="attachment-medium wp-post-image" alt="Lotta Nieminen | Shop Magazine"></a>
					<h4 class="work-title"><a class="ajax" href="/shop-magazine/">3-2관악</a></h4>
					<div class="excerpt"><p>Cover illustration for a<br>Paris shopping guide.</p></div>
				</div>

			</div>

		</div>						
	
    </div>

    <footer style="position:fixed; width:100%; height:30px; background-color:white;bottom:0px; color:#cccccc; width:70%; margin-left:15%; margin-right:15%;">
	<p><a href="#codelion">codelion</a> | <a href="#snucheck">snucheck</a> | <a href="#anywant">anywant</a> </p> 
</footer>
