<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
	<meta charset="UTF-8" />
  <link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="viewport" content="width=device-width" />
	<title>choibg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  	<script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33077929-1']);
				            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            //]]></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.lottanieminen.com/wordpress/xmlrpc.php?rsd" />
</head>
<body id="home">
<!--[if lte IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !IE]> -->
<html id="modern-browsers" lang="en-US">
<!--<![endif]-->

<!--html5shive-->
<!--[if lte IE 9]>
<script src="/assets/html5shiv.js"></script>
<script src="/assets/modernizr.custom.58495.js"></script>
<![endif]-->

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->


<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>
