<!DOCTYPE html>
<!--[if lte IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !IE]> -->
<html id="modern-browsers" lang="en-US">
<!--<![endif]-->
<head>

<!--[if gte IE 9]> <link rel="stylesheet" type="text/css" href="//static.squarespace.com/static/sitecss/50271a61c4aab6c54f9af5ee/360/500589fc84aed5ec11c2b672/5027f8dcc4aaa455df9a9b06/404/1398562657296/site.css?"/><![endif]-->
<!--[if lt IE 9]><script src="//static.squarespace.com/universal/scripts-thirdparty/html5/html5-shiv.js"></script><link rel="stylesheet" type="text/css" href="//static.squarespace.com/static/sitecss/50271a61c4aab6c54f9af5ee/360/500589fc84aed5ec11c2b672/5027f8dcc4aaa455df9a9b06/404/1398562657296/site.css?&noMedia=true"/><![endif]-->
	<meta charset="UTF-8" />
  <link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="viewport" content="width=device-width" />
	<title>choibg</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  	<script type="text/javascript">//<![CDATA[
            // Google Analytics for WordPress by Yoast v4.3.3 | http://yoast.com/wordpress/google-analytics/
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-33077929-1']);
				            _gaq.push(['_trackPageview']);
            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';

                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();
            //]]></script>
	<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://www.lottanieminen.com/wordpress/xmlrpc.php?rsd" />
</head>
<body id="home">


<%= yield %>
<%= render "layouts/footer" %>

</body>
</html>
